/* This file contains the theme variables for the styled dioxus components. You only
 * need to import this file once in your project root.
 */

html, // default
html[data-theme="dark"] {
	--dark: initial;
	--light: ;

	color-scheme: dark;
}

html[data-theme="light"] {
	--dark: ;
	--light: initial;

	color-scheme: light;
}

:root {
	/* Primary colors */
	--primary-color: var(--dark, hsl(260deg 100% 1%)) var(--light, hsl(260deg 25% 99%));
	--primary-color-1: var(--dark, hsl(260deg 25% 3%)) var(--light, hsl(260deg 25% 97%));
	--primary-color-2: var(--dark, hsl(260deg 25% 5%)) var(--light, hsl(260deg 25% 95%));
	--primary-color-3: var(--dark, hsl(260deg 25% 7%)) var(--light, hsl(260deg 25% 93%));
	--primary-color-4: var(--dark, hsl(260deg 25% 10%)) var(--light, hsl(260deg 25% 90%));
	--primary-color-5: var(--dark, hsl(260deg 25% 15%)) var(--light, hsl(260deg 25% 85%));
	--primary-color-6: var(--dark, hsl(260deg 25% 20%)) var(--light, hsl(260deg 25% 80%));
	--primary-color-7: var(--dark, hsl(260deg 25% 25%)) var(--light, hsl(260deg 25% 75%));

	/* Secondary colors */
	--secondary-color: var(--dark, hsl(260deg 25% 100%)) var(--light, hsl(260deg 25% 0%));
	--secondary-color-1: var(--dark, hsl(260deg 25% 95%)) var(--light, hsl(260deg 25% 5%));
	--secondary-color-2: var(--dark, hsl(260deg 25% 90%)) var(--light, hsl(260deg 25% 10%));
	--secondary-color-3: var(--dark, hsl(260deg 25% 85%)) var(--light, hsl(260deg 25% 15%));
	--secondary-color-4: var(--dark, hsl(260deg 25% 75%)) var(--light, hsl(260deg 25% 25%));
	--secondary-color-5: var(--dark, hsl(260deg 25% 50%)) var(--light, hsl(260deg 25% 50%));
	--secondary-color-6: var(--dark, hsl(260deg 25% 25%)) var(--light, hsl(260deg 25% 75%));

	/* Highlight colors */
	--focused-border-color: var(--dark, hsl(216deg 100% 58%)) var(--light, hsl(216deg 100% 58%));
	--primary-success-color: var(--dark, hsl(162deg 90% 8%)) var(--light, hsl(152deg 81% 96%));
	--secondary-success-color: var(--dark, hsl(160deg 87% 85%)) var(--light, hsl(160deg 84% 39%));
	--primary-warning-color: var(--dark, hsl(38deg 89% 11%)) var(--light, hsl(48deg 100% 96%));
	--secondary-warning-color: var(--dark, hsl(38deg 96% 89%)) var(--light, hsl(38deg 92% 50%));
	--primary-error-color: var(--dark, hsl(0deg 56% 41%)) var(--light, hsl(0deg 72% 51%));
	--secondary-error-color: var(--dark, hsl(0deg 69% 36%)) var(--light, hsl(0deg 84% 60%));
	--contrast-error-color: var(--dark, var(--secondary-color-3)) var(--light, var(--primary-color));
	--primary-info-color: var(--dark, var(--primary-color-5)) var(--light, var(--primary-color));
	--secondary-info-color: var(--dark, var(--primary-color-7)) var(--light, var(--secondary-color-3));

	/* General */
	--border-radius: 0.5rem;
	--border-radius-1: 1rem;
	--border-radius-2: 1.5rem;
}
